POSTGRES_USER=toolpostgres
POSTGRES_PASSWORD=toolpostgres
POSTGRES_DB=tool_share

REDIS_PASSWORD=toolredis

RABBITMQ_DEFAULT_USER=toolrabbitmq
RABBITMQ_DEFAULT_PASS=toolrabbitmq

MINIO_ROOT_USER=toolminio
MINIO_ROOT_PASSWORD=toolminio
